<?php


namespace Draugiem\BreezySync\Tests;

/**
 * If you want to run tests, copy this file in this directory without the .dist extension
 * and enter your test user email and password
 */
class Credentials
{
    /**
     * Test user email
     * @var string
     */
    public static $email = '';

    /**
     * Test user password
     * @var string
     */
    public static $password = '';
}