<?php


namespace Draugiem\BreezySync\Tests;

/**
 * If you want to run tests, copy this file in this directory without the .dist extension
 * and enter your test user email and password
 */
class Credentials
{
    /**
     * Test user email
     * @var string
     */
    public static $email = '';

    /**
     * Test user password
     * @var string
     */
    public static $password = '';

    /**
     * Company that is used for position retrieval, adding, etc.
     * You should not use your public company, create one for testing purposes!
     * @var string Usually it's a 12 character hash
     */
    public static $companyId = '';

    /**
     * Position id used to add candidates to
     * @var string
     */
    public static $positionId = '';
}